# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [ ]:
my_tuple = (12, 31, 16, "Dark Vador", "Han Solo", 'Maman', ['Hello', 'Ciao', 26], ['Blabla', 1285, 965], {'PSG' : 1, 'OM' : 0, 'ManCity': 0 }, {'R2': 'D2', 'C3':'PO', 'BB': 8})

my_tuple[7][-2]

1285

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [ ]:
my_tuple[-4:]

(['Hello', 'Ciao', 26],
 ['Blabla', 1285, 965],
 {'ManCity': 0, 'OM': 0, 'PSG': 1},
 {'BB': 8, 'C3': 'PO', 'R2': 'D2'})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [ ]:
y = list(my_tuple)
y[3] = 'change'
my_tuple = tuple(y)
print(my_tuple)

(12, 31, 16, 'change', 'Han Solo', 'Maman', ['Hello', 'Ciao', 26], ['Blabla', 1285, 965], {'PSG': 1, 'OM': 0, 'ManCity': 0}, {'R2': 'D2', 'C3': 'PO', 'BB': 8})

# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [ ]:
tuple1 = (12, 126, 5, 89, 67, 51, 36)
tuple2= (23, 58, 96, 1, 4, 22)
compteur1 = 0
compteur2 = 0

for i in tuple1 :
  compteur1 += i

for i in tuple2:
  compteur2 += i

if compteur1 == compteur2:
  print('Les totaux des deux tuples sont égaux')
elif compteur1 > compteur2:
  print('Le total du tuple 1 est plus élevé')
else:
  print('Le total du tuple 2 est plus élevé')

386
204
Le total du tuple 1 est plus élevé

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [2]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

value_to_change = int(input('Quelle est la position de la valeur à changer?'))

if value_to_change not in range(len(my_tuple)+1) or value_to_change == 0:
  print("merci d'indiquer un chiffre entre 1 et {}".format(len(my_tuple)))
  value_to_change = int(input('Quelle est la position de la valeur à changer?'))

new_value= input('Par quelle valeur tu veux la remplacer?')

# on passe le tuple en liste
y = list(my_tuple)

# modification à l'index - 1 pour coller à la position demandée
y[value_to_change - 1] = new_value

# on remet en type tuple
my_tuple = tuple(y)

print(my_tuple)

Quelle est la position de la valeur à changer?4
Par quelle valeur tu veux la remplacer?4
('data analyst', 'data scientist', 'data engineer', '4')